/* GES Menu */
#lightbox .mod_link {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #b2b2b2;
  border-radius: 3px;
}
#lightbox .mod_link .mod_icon {
  background-position: -4px -308px;
  float: right;
  display: inline-block;
  margin: 12px 4px 0 0;
  height: 8px;
  width: 8px;
}
#lightbox .mod_link:hover {
  background-color: #dedede;
  padding: 9px;
  border-width: 2px;
}
#lightbox .mod_link:hover .mod_icon {
  background-position: -20px -308px;
}
#lightbox .mod_link:active {
  background: none !important;
  border-color: #f77f00 !important;
  border-width: 2px !important;
}
#lightbox .mod_link:active .mod_icon {
  background-position: 12px -308px;
}
#lightbox .mod_link.enabled {
  background-color: #edd8c3;
  border: 1px solid #f77f00;
  padding: 10px;
}
#lightbox .mod_link.enabled .mod_icon {
  background-position: -36px 268px !important;
}
#lightbox .mod_link.enabled:hover {
  border-width: 2px;
  padding: 9px;
}
#lightbox .mod_content {
  display: inline-block;
  width: 520px;
}
#lightbox .mod_name {
  display: block;
  color: #333;
  margin-bottom: 8px;
}
#lightbox .mod_desc {
  color: #746453;
}
#lightbox .mod_last {
  margin-bottom: 0;
}
/* UI Tweaks */
#notifications .scrollable {
  max-height: 200px;
  overflow-y: auto;
}
#notifications li.wide {
  width: 400px;
  margin: 0 0 3px -150px;
}
span.ges_cloned_button {
  display: block;
  line-height: 30px;
  font-size: 11px;
  font-weight: bold;
  float: left;
  margin: 0 10px;
}
span.ges_cloned_button a {
  color: #fff;
}
/* Shortcuts */
#lightbox.lightbox-shortcuts {
  width: 580px;
  max-width: 100%;
}
#lightbox .sc_name {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}
#lightbox .sc_wrap {
  display: inline-block;
  width: 270px;
  margin-bottom: 4px;
}
#lightbox .sc_wrap.sc_left {
  margin-right: 15px;
}
#lightbox .sc_key {
  background: #F6F6F6;
  box-shadow: inset 0 1px 0 #fff;
  border: 1px solid #B3B3B3;
  border-radius: 3px;
  width: 2em;
  display: inline-block;
  text-align: center;
  margin-right: 12px;
  border-bottom: 2px solid #B3B3B3;
  font: normal 12px/20px Arial;
}
